
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
 
  }

  body {
    background: #ffffff1a 0% 0% no-repeat padding-box;
    margin: 0;
    padding: 0;
    background-color: #24262b;
  }

