<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->

    <link href="css/estilos.css" rel="stylesheet"> 
      <link href="css/index.css" rel="stylesheet"> 

    <title>Hello, world!</title>
</head>

<body>

    <div class="container">

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admin</a>
        </li>
      </ul>

          <div class="row">
            
              <div class="card col-12 col-sm-12 col-md-4  text-white bg-dark" style="width: 20rem;">
                <img src="https://m.media-amazon.com/images/I/71fVA2pm7mL._AC_SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              
              <div class="card col-12 col-sm-12 col-md-4  text-white bg-dark" style="width: 20rem;">
                <img src="https://m.media-amazon.com/images/I/71Kkm5nIRKL._AC_SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
    
            
              <div class="card col-12 col-sm-12 col-md-4 text-white bg-dark" style="width: 20rem;">
                <img src="https://m.media-amazon.com/images/I/711y8vC4+nL._AC_SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
                
           </div>

             <!-- Carrusel de Imagenes -->
           
     


             <!-- Footer Pie de pagina -->
           <div id="footer">
            <footer>
              <div class="row">
              <div class="card col-12 col-sm-12 col-md-4">
                <div class="card-body">
                  <h5 class="card-company">Quienes Somos?</h5>
                  <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptate, quisquam rerum optio sunt minima
                    obcaecati voluptatem modi necessitatibus dolorem nihil, perferendis quis. In voluptates, repudiandae
                    reprehenderit optio deleniti quibusdam!
                    </div>
                  
                </div>
              </div>
         
              <div class="card col-12 col-sm-12 col-md-4">
                <div class="card-body">
                  <h5 class="card-atributos">Mision y vision?</h5>
                  <p>Contáctanos</p>
                  <p>Términos y condiciones</p>
                </div>
              </div>
            </div>
            </footer>
          </div>
          <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </div>
</body>

</html>