<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->

    <link href="css/estilos.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />


    <title>Home</title>
  </head>

  <body>
    <div class="container">
      <div class="banner-area">
  
      <ul class="nav justify-content-center">
        <li class="nav-item col-xs-6">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item col-xs-6">
          <a class="nav-link" href="">Productos</a>
        </li>
        <li class="nav-item col-xs-6">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item col-xs-6">
          <li class="nav-item col-xs-6">
            <a class="nav-link" href="">Admin</a>
          </li>
        </li>

        <!--en esta parte esta el boton iniciar y cerrar session -->

        <ul class="navbar-nav navbar-right">
          <li sec:authorize="!isAuthenticated()">
            <a class="btn btn-outline-primary col-xs-12" th:href="@{/login}"
              >Iniciar Sesion</a
            >
          </li>

          <li sec:authorize="isAuthenticated()" class="dropdown show">
            <a
              class="btn btn-outline-primary dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><span sec:authentication="name"></span
            ></a>
            <!-- termina el boton iniciar y cerrar session -->
          </li>
        </ul>

        <div>
          <!--AQUI VA LA FORMA EN QUE SE DESPLIEGA EL BOTON DE CERRAR SESION PUEDE SER EN CASCADA O ALGO ASI -->
          <form id="logoutForm" th:action="@{/logout}" method="post">
            <button
              class="dropdown-item"
              onclick="document.getElementById('logoutForm').submit();"
              type="submit"
            >
              Cerrar Sesion
            </button>
            <input
              type="hidden"
              th:name="${_csrf.parameterName}"
              th:value="${_csrf.token}"
            />
          </form>
        </div>
      </ul> 
    </div>
    </div>
    <div class="flexsearch col-12 col-sm-12 col-md-4">
      <div class="flexsearch--wrapper">
        <form class="flexsearch--form" th:action="@{/producto}">
          <div class="flexsearch--input-wrapper">
            <input name="url" class="flexsearch--input" type="search" placeholder="buscar">
          </div>
        
        </form>
      </div>
  </div>
    <div class="row">
      <div
        class="card col-12 col-sm-12 col-md-4 text-white bg-dark"
        style="width: 20rem; padding: 2%"
      >
        <img
          src="https://m.media-amazon.com/images/I/71fVA2pm7mL._AC_SL1500_.jpg"
          class="card-img-top"
          alt="..."
        />

        <div class="card-body">
          <h5 class="card-title">Tarjeta gráfica NVIDIA GeForce RTX 3070 </h5>
          <p class="card-text">
            Multiprocesadores NVIDIA Ampere Streaming: los bloques de construcción para la GPU más rápida
            y eficiente del mundo, el nuevo Ampere SM aporta 2 veces el rendimiento FP32 y una mejor eficiencia energética.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div
        class="card col-12 col-sm-12 col-md-4 text-white bg-dark"
        style="width: 20rem; padding: 2%"
      >
        <img
          src="https://m.media-amazon.com/images/I/71Kkm5nIRKL._AC_SL1500_.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div
        class="card col-12 col-sm-12 col-md-4 text-white bg-dark"
        style="width: 20rem; padding: 2%"
      >
        <img
          src="https://m.media-amazon.com/images/I/711y8vC4+nL._AC_SL1500_.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div id="footer">
      <footer>
        <div class="row">
          <div class="card col-12 col-sm-12 col-md-4">
            <div class="card-body">
              <h5 class="card-company">Quienes Somos?</h5>
              <div>
                Amazon surgió en el año 1995, y fue fundada por Jeffrey Bezos a sus 34 años como un comercio de libros a través de la internet.
                Jeff Bezos, fue un estudiante de ingeniería eléctrica e informática en la Universidad de Princeton.
                Durante el año 1986, inició sus trabajos en el sector de la tecnología, en una compañía de fibra óptica de la cual llegó a ser el vicepresidente.
                Luego, en el periodo que corre desde 1990 a 1994, estuvo trabajando en una empresa llamada Shaw and Co, en Wall Street.
                Bezos abandonó su trabajo en el año 1994 y se mudó a la ciudad de Seattle, donde junto a su esposa crearon la librería más grande del mundo llamada Amazon.
              </div>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-4">
            <div class="card-body">
              <h5 class="card-atributos">Mision y vision?</h5>
              <p>“Nos esforzamos por ofrecer a nuestros clientes los precios más bajos posibles, la mejor selección disponible y la mayor comodidad”.</p>
              <p>"Ser la compañía más centrada en el cliente del mundo, donde nuestros clientes pueden encontrar y descubrir cualquier cosa que deseen comprar en línea"</p>
              <p>Contáctanos</p>
            
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
