
//patron de colores###########################
$principal: #F62DA8;


//variables de bootstrap#########################
$primary: $principal;
$enable-rounded: false;




@import "../lib/bootstrap/scss/bootstrap";
