* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

body{
    width: 100%;
    height: 100%;
    background: #24262B 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card{
    top: 83px;
    width: 660px;
    height: 500px;
    left: center;
    overflow: hidden;
    position: absolute;
    background: #FFFFFF1A 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 15px #0000001A;
    opacity: 1;
    border-radius: 15px; 

 
}


h1{
margin-top: 5%;    
margin-left: 60px;
text-align: left;
color: #FFFFFF;
}

#new_user{
margin-left: 60px;
text-align: left;
color:#FFFFFF;
font-size: 115%;
}

h5{
   margin-top: -32px;
    margin-left: 180px;
    color: #632FEF;
    opacity: 1;
   
}

#user{
    margin-left: 60px;
    width: 290px;
    height: 40px;
    color:#FFFFFF26; 
    background: #FFFFFF26 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
    
}

#pass{
width: 290px;
height: 40px;
margin-left: 60px;
margin-top: 10px;
background: #FFFFFF26 0% 0% no-repeat padding-box;
opacity: 1;
border: none;

}

#btn_in{
margin-left: 60px;
margin-top: 5%;
width: 290px;
height: 40px;
color:#FFFFFF;
background: transparent linear-gradient(100deg, #FC0441 0%, #F62DA8 100%) 0% 0% no-repeat padding-box;
border-radius: 24px;
opacity: 1;
}


#btn_out{
    margin-left: 600px;
    margin-top: 2%;
    width: 40px;
    height: 40px;
    color:#FFFFFF;
    background: transparent linear-gradient(100deg, #FC0441 0%, #F62DA8 100%) 0% 0% no-repeat padding-box;
    border-radius: 100%;
    opacity: 1;
    }
